@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
@*<h3>@ViewData["Message"]</h3>*@

<p>This is just a site for me to learn on, and a place for me to dump what happens in my brain.</p>
